*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
}

.nav
{
    position: fixed;
    display: block;
    bottom: 10px;
}

#addNew
{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: 1000px;
    top: 0px;
    background: rgba(0,0,0,.7);
    transition: 1s;
}

#timezones
{
    position: fixed;
}
.everything
{
     background-image: url("images/sky2.jpeg");
}


h1
{
    background-color: white;
    margin-top: top;
    margin-left: 10px;
    font-size: 26px;
}

div
{
    display: block;
}

.analog-clock
{
    margin: auto;
    width: 300px;
    height: 300px;
}

#clock-face
{
    stroke: black;
    stroke-width: 2px;
    fill: white;
}

#h-hand, #m-hand, #s-hand, #s-tail
{
    stroke: black;
    stroke-linecap: round;
}

#h-hand
{
    stroke-width: 4px;
}

#m-hand
{
    stroke-width: 2px;
}

#s-hand, #s-tail
{
    stroke: red;
    stroke-width: 1px;
    color: red;
}

.time-text
{
    background-color: white;
    text-align: center;
}